@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Raleway');


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  background-color: #e6e6e6;
  flex: 0 0 50px;/*or just height:50px;*/
  margin-top: auto;
}

.copy{
	font-family: 'Raleway', sans-serif;
	position: relative;
	top:10px;
}

.jumbotron{
	font-family: 'Permanent Marker', cursive;
	background-image: url(../images/dice.gif);
	background-repeat: no-repeat;
	background-color: white;
	background-size: 10%;
	padding-top: 20px;
	padding: 20px;
}

.text{
	font-family: 'Permanent Marker', cursive;
}

.text1{
	font-family: 'Permanent Marker', cursive;
	font-size: 24px;
	color: rgb(1, 1, 75);
}

.text2{
	display: none;
	font-family: 'Permanent Marker', cursive;
	color: rgb(235, 0, 0);
}

.text3{
	font-family: 'Permanent Marker', cursive;
	font-size: 8px;
}